<h1>Logs</h1>

<table class="table">
	<tbody>
		<tr>
			<th>Channel</th>
			<th>Task</th>
			<th>IP</th>
			<th>Created at</th>
		</tr>
		<% @logs.each do |log| %>
		<tr>
			<th><%= log.task.channel.name %></th>
			<th><%= log.task.name %></th>
			<th><%= log.ip %></th>
			<th><%= log.created_at %></th>
		</tr>
		<% end %>
	</tbody>
</table>